talkingClient/.vs/
talkingClient/Debug/
talkingServer/.vs/
talkingServer/Debug/
talkingServer/talkingServer/Debug/
talkingClient/talkingClient/Debug/talkingClient.tlog/link.write.1.tlog
talkingClient/talkingClient/Debug/
